:root {
    --form_bg: #ffffff;
    --input_bg: #E5E5E5;
    --input_hover: #eaeaea;
    --submit_bg: #1FCC44;
    --submit_hover: #40e263;
    --icon_color: #6b6b6b;
}

#form_wrapper {
    width: 85%;
    height: 85%;
    margin: 30px auto 30px auto;
    background-color: var(--form_bg);
    border-radius: 50px;
    padding: 5vh 15px;
}

#form_addarticle {
    padding: 20px 5%;
    text-align: center;
}

h1,
span {
    text-align: center;
}

.input_container {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background-color: var(--input_bg);
    display: flex;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
}

.input_container:hover {
    background-color: var(--input_hover);
}

.input_img_container {
    background-color: unset;
    border-style: solid;
    border-color: var(--input_bg);
    border-width: thick;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
    justify-items: center;
}

.input_field {
    color: var(--icon_color);
    background-color: inherit;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.input_field:hover,
.input_field:focus {
    outline: none;

}

.input_field_text {
    color: var(--icon_color);
    background-color: var(--input_bg);
    width: 100%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    resize: initial;
    border-radius: 30px;
}

.input_field_text:hover {
    background-color: var(--input_hover);
}

#input_submit {
    height: 60px;
    width: auto;
    border-radius: 30px;
    align-self: center;
    align-items: center;
    background-color: var(--submit_bg);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 30px;
    padding: 15px;
}

#input_submit:hover {
    background-color: var(--submit_hover);
    transition: background-color,
        1s;
    cursor: pointer;
}

a:hover {
    color: var(--submit_hover);
}

i {
    color: var(--icon_color);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: auto;
  padding: 25px;
  border-radius: 20px;
}