body {
    background-image: url("../img/pasto.jpg");
}

.color-green {
    color: #19ad12 !important;
}

.bg-black {
    background-color: #000000;
}

.nav-link:hover, .navbar-brand:hover {
    opacity: 0.7 !important;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.25rem;
}

.nav-link {
    margin-left: 5rem;
}

.content {
    background-color: #ffffff;
    width: 60%;
    margin-left: 6%;
    padding: 1%;
    margin-top: 30px;
    border: 2px solid rgb(0, 0, 0, .4);
    float: left;
}

.circle {
    margin-right: 6%;
    margin-top: 60px;
    padding-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    text-align: center;
    background: #ffffff;
    float: right;
    color: #000000;
}