.container {
    width: 70%;
    margin: 30px auto 0 auto;
}

.presentation {
    background-color: #ffffff;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 5%;
    border-radius: 50px;
}

#tips {
    width: auto;
    overflow: auto;
}

.circle {
    margin-left: 50px;
    margin-top: 3px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    #border: 2px solid rgb(0, 0, 0, .4);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    text-align: center;
    background-color: rgba(36, 161, 63, 0.9);
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.circle p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.circle .inner-circle {
    width: 90%;
    margin-left: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}